.table-header-right{
    border-radius: 8px 8px 0 8px;
}

.table-rows-item {
    width: 120px;
    padding: 16px 12px;
}

.table-rows-item-last {
    width: 112px;
    padding: 16px 12px;
}

.table-rows-content-item {
    width: 120px;
    padding: 0 16px;
}

.contract-disabled {
    color: #C0CADD;
    padding: 3px 10px;
    border: 1px solid #DFE4EE;
    border-radius: 16px;
    background-color: #FCFCFD;
}

.contract-active {
    color: #4CAF50;
    padding: 3px 10px;
    border: 1px solid #C2E4C3;
    border-radius: 16px;
    background-color: #EDF7ED;
}